[submodule "mods/arena_lib"]
	path = mods/arena_lib
	url = https://gitlab.com/zughy-friends-minetest/arena_lib
[submodule "mods/audio_lib"]
	path = mods/audio_lib
	url = https://gitlab.com/zughy-friends-minetest/audio_lib
[submodule "mods/signs_lib"]
	path = mods/signs_lib
	url = https://github.com/mt-mods/signs_lib
[submodule "mods/panel_lib"]
	path = mods/panel_lib
	url = https://gitlab.com/zughy-friends-minetest/panel_lib
[submodule "mods/strategymobs_core"]
	path = mods/strategymobs_core
	url = https://github.com/AFCMS/strategymobs_core
[submodule "mods/stent"]
	path = mods/stent
	url = https://github.com/AFCMS/stent
[submodule "mods/formspec_ast"]
	path = mods/formspec_ast
	url = https://gitlab.com/luk3yx/minetest-formspec_ast
